# Managed by ansible.
# file: {{ template_destpath }}
{% for __git_name, __git_value in git_system_config.items() %}
[{{ __git_name.split('.')[0] }}{% if __git_name.split('.') | length > 2 %} {{ __git_name.split('.')[1:-1] | join('.') | to_json(ensure_ascii=false) }}{% endif %}]
  {{ __git_name.split('.')[-1] }} = {{ __git_value | string | to_json(ensure_ascii=false) }}
{% endfor %}
{% if git_keyring_enabled and __git_keyring_supported %}
[credential]
  helper = {{ __git_keyring_helper | to_json }}
{% endif %}
