[user]
  name = {{ git_name }}
  email = {{ git_email }}
[core]
  editor = vim
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[web]
  browser = firefox
{{% if git_keyring_helper_file is defined %}}
[credential]
  helper = {{ git_keyring_helper_path }}/{{ git_keyring_helper_file }}
{{% endif %}}
[push]
  default = simple
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
  prompt = false
[alias]
  c   = commit
  ca  = commit -a
  cm  = commit -m
  cam = commit -am
  d   = diff
  dc  = diff --cached
  l   = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit